.footer{
    width: 100%;
    height: 280px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    // position: relative;
}
// .main-help__image2{
//     position: absolute;
//     top: 43px;
//     left: 160px;
//     width: 44%;
// }
// .text-cv{
//     text-align: center;
//     width: 17%;
//     top: 271px;
//     left: 405px;
//     color: black;
//     position: absolute;
//     font-weight: 900;
//     font-size: 40px;
// }
.footer__container{
    width: 87vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-family: $font3;
}
.footer__wrapper{
    width: 100%;
    height: 190px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__logo{
    width: 100px;
}
.footer-menu{
    width: 61%;
    &__list {
      display: flex;
      width: 100%;
      justify-content: space-around;
      list-style: none;
      font-family: $font2;
      font-weight: 900;
    }
}
.footer-contacts__tel-nub,
.footer-menu__link{
    color: white;
}
.line-bottom{  
    background: linear-gradient(currentColor 0 0) bottom /var(--d, 0) 1px no-repeat; transition:0.5s;
}
.line-bottom:hover {
--d: 100%;
}
.footer-contacts{
    display: flex;
    flex-direction: column;
}
.footer__second-wrapper {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 39px;
  
    .text-line {
      color: $footer-color2;
      font-family: $font3;
      font-weight: 400;
      font-size: 0.8rem;
    }
      .block__text-one {
        margin-right: 16px;
      }
  }
@media (min-width: 1440px) {
    .footer__container{
        width: 1180px;
    }
}
@media (max-width: 870px) {
    .footer-menu{
        display: none;
    }
}
@media (max-width: 450px) {
    .footer{
        height: 378px;
    }
    .footer__wrapper{
        height: 283px;
        flex-direction: column;
        // display: flex;
        // justify-content: space-between;
        // align-items: center;
    }
    .footer-contacts{
        align-items: center;
    }
    .footer__second-wrapper {
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    }
    .block__text-one {
        margin-right: 0;
      }

}
// svg path {
//     fill:white;
//     stroke:inherit;
//     stroke-width:inherit;
    
//     }
    
//     .icon-youtube{
//     transition: all .8s ease;
//     }
.footer-contacts__title{
    margin-bottom: 20px;
    font-family: $font2;
    font-weight: 900;
}
.footer-contacts__tel{
    display: flex;
    align-items: center;
}
.footer-contacts__site{
    margin: 10px 0px 30px 0px;
.footer-contacts__site-a{
    color: white;
}
}
.footer__icons-box {
    display: flex;
}
.social {display: inline-block;}
.social a {
	display: block;
	width: 32px;
	height: 32px;
	text-align: center;
	color: #ffffff;
	background: #555555a2;
	border-radius: 24px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);
    margin-right: 3px;
}
.social svg {
    margin-top: 5px;
	width: 22px;
	height: 22px;
}

.odnoklassniki a:hover {background: #f93;}
.telegram a:hover {background: #249bd7;}
.vk a:hover {background: #4a76a8;}

.social2  {
	display: block;
	width: 27px;
	height: 27px;
	text-align: center;
	color: #ffffff;
	background: #555555a2;
	border-radius: 24px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.15), inset 0 0 50px rgba(0,0,0,0.1);
    margin-left: 3px;
}
.social2 svg {
    margin-top: 5px;
	width: 18px;
	height: 18px;
}.whatsapp {background: #50b154;}
.telegram2 {background: #249bd7;}