.main-festival{
  height: 2435px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.main-festival__video-container{
  display: flex;
  align-items: flex-end;
}
.main-festival__video{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-festival__title{
  text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.block-festival__text-p {
  font-family: $font3;
  @include adaptiv-font(24, 12);
  line-height: 180%;
  text-align: center;
  text-transform: uppercase;
}
.block-festival__logo-block{
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}



.main-festival__logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
   img  {
    max-width: 100%;
  }
}
.main-festival__logo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  opacity: 0;
  &:first-child{
    width: 19%;
  }
}
.main-festival__logo.element-show {
  animation: bounceIn 0.8s ease-in-out forwards;
  &:nth-child(2) {
    animation-delay: 0.3s;
  }
  &:nth-child(3) {
    animation-delay: 0.6s;
  }
}
@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(.3);
  }

  50% {
    transform: scale(1.10);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.video-container {
    height: auto;
    width: 80%;
    margin: 30px 0;
    position: relative;
  }
  
  
//   .video-container::before {
//     content: "";
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
//     z-index: -1;
//   }
  .block-festival__video-item{
    height: auto;
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.804)
    // box-shadow: 
    // 0 0 0 2em #f4aab9,
    // 0 0 0 4em #66ccff;
  }
  video[poster]{
    height:90%;
    width:95%;
    overflow: hidden;
    }
// #overlay {
  //   border-radius: 15px;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;
  //   background-color: rgba(0, 0, 0, 0.5);
  //   opacity: 1;
  //   transition: opacity 0.5s;
  // }
  
  // #overlay.fade-out {
  //   opacity: 0;
  // }
  
  #play-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  
@media (min-width: 1440px) {
  .main-festival__why-item-title,
  .block-festival__text-p {
    font-size: 24px;
  }
}


@-webkit-keyframes bounceIn {
	0% {
		opacity: 0;
		-webkit-transform: scale(.2);
	}
	50% {
		-webkit-transform: scale(1.05);
	}

	70% {
		-webkit-transform: scale(.9);
	}

	100% {
		opacity: 1;
		-webkit-transform: scale(1);
	}
}

@-moz-keyframes bounceIn {
	0% {
		opacity: 0;
		-moz-transform: scale(.3);
	}

	50% {
		-moz-transform: scale(1.05);
	}

	70% {
		-moz-transform: scale(.9);
	}

	100% {
		opacity: 1;
		-moz-transform: scale(1);
	}
}

@-o-keyframes bounceIn {
	0% {
		opacity: 0;
		-o-transform: scale(.3);
	}

	50% {
		-o-transform: scale(1.05);
	}

	70% {
		-o-transform: scale(.9);
	}

	100% {
		opacity: 1;
		-o-transform: scale(1);
	}
}

.main-festival__why{
  flex-direction: column;
  justify-content: space-between;
}
// .main-festival__why-item{
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
  // &:nth-child(2) {
  //   .main-festival__why-img{
  //     height: 150px;
  //   }
  // }
// }
// .main-festival__why-item:last-child{
//   flex-direction: row-reverse;
// }
.main-festival__why-item-title{
  @include adaptiv-font(24, 22);
}
ul {
  list-style: none;
}
// li{
//   padding-left: 20px;
// }
.main-festival__why-item-list  > .main-festival__why-item-text-p {
  position: relative;
  padding: 10px 0px 0px 30px ;
  &::before {
    content: "⭐️";
    position: absolute;
    left: 0;
    top: 12px;
    transform: scale(0.2);
    display: inline-block;
    animation: pulse infinite alternate 0.9s;
  }
  @for $i from 1 through 6 {
    &:nth-child(#{$i}) {
      &::before {
        animation-delay: #{$i / 5}s;
      }
    }
  }
}
.main-festival__why-img{
  // background-color: aqua;
  display: flex;
  align-items: center;
  border-radius: 30px;
  width: 80%;
}
.main-festival__why-item-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 61%;
  list-style-position: outside;
  // list-style-position:inside;
}
.container {
 width: 1000px;
}
.main-festival__why-item{
  width: 100%;
  display: flex;
  justify-content: space-between;
  img{
    width: 80%;
  }
}
.main-festival__why .main-festival__why-item:nth-child(2) {
  align-items: center;
  flex-direction: row-reverse;
  margin: 40px 0px;
  .main-festival__why-img {
    justify-content: flex-end;
  }
}
.main-howstudy__media{
  position: relative;
  width: 762px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0px 30px 0px;
}
.howstudy-mediastyle {
  width: 889px; 
  height: 531px;
  position: relative;
  border-radius: 17px;
  // border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.howstudy-mediastyle__video{
  position: absolute;
  width: 94%;
  height: 85%;
  left: 2.7%;
  top: 5.4%;
  border-radius: 17px;
  z-index: 3;
  border: 2px solid rgba(0, 0, 0, 0.369);
}

// @media  (max-width: 750px) {
//   .main-festival__video{
//     height: 550px;
//   }
// }
//  .main-festival__but:nth-child(1){
//        box-shadow: 6px -6px 9px 0px white, -6px 6px 9px rgba(0, 0, 0, 0.4);
// }
// .main-festival__button:nth-child(2){
//   box-shadow: -6px -6px 9px 0px white, 6px 6px 9px rgba(0, 0, 0, 0.4);
// }
// .main-festival__button{
//   width: 195px;
//   box-shadow: -6px -6px 9px 0px rgba(0, 0, 0, 0.4), 6px 6px 9px rgba(0, 0, 0, 0.4);
//   &:active {
//     box-shadow: inset -6px -6px 9px 0px rgba(255, 255, 255, 0.4), inset 6px 6px 9px rgba(0, 0, 0, 0.4);
//   }
// }
.main-festival__but{
  &:first-child{
    box-shadow: 6px -6px 9px 0px white, -6px 6px 9px rgba(0, 0, 0, 0.4);
  }
}
.main-festival__button{
  width: 195px;
  // box-shadow: -6px -6px 9px 0px white, 6px 6px 9px rgba(0, 0, 0, 0.4);
  &:active {
    box-shadow: inset -6px -6px 9px 0px rgba(255, 255, 255, 0.4), inset 6px 6px 9px rgba(0, 0, 0, 0.4);
  }
}
@media (min-width: 1440px){
  .block-festival__text-p {
    font-size: 24px;
  }
}
@media  (max-width: 950px) {
  .main-festival{
    height: 3130px;
  }
  .main-festival__why-item{
    // width: 100%;
    // justify-content: space-between;
    flex-direction: column;
    align-items: center;
    img{
      width: 60%;
    }
  }
  .main-festival__why .main-festival__why-item:nth-child(2) {
    margin: 60px 0px;
    flex-direction: column;
    .main-festival__why-img {
      justify-content: center;
    }
  }
  .main-festival__why-img{
    justify-content: center;
    margin-bottom: 20px;
  }
  .main-festival__why-item-text{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main-howstudy__media{
    width: 100%;
  }
  
  .howstudy-mediastyle {
    width: 570px; 
    height: 344px;
  }
}
@media  (max-width: 900px) {
  .main-festival{
    height: 2900px;
  }
}
@media  (max-width: 850px) {
  .main-festival{
    height: 2750px;
  }
}
@media  (max-width: 800px) {
  .main-festival{
    height: 2650px;
  }
}
@media  (max-width: 700px) {
  .main-festival{
    height: 2575px;
  }
}
@media  (max-width: 640px) {
  
  .howstudy-mediastyle {
    width: 470px; 
    height: 284px;
  }
}
@media  (max-width: 600px) {
  .main-festival{
    height: 2444px;
  }
  .main-festival__title{
      margin-bottom: 10px;
  }
}
@media  (max-width: 580px) {
  .main-festival{
    height: 2746px;
  }
  .main-festival__why-item-text{
    width: 290px;
  }
  .main-festival__why-item{
    img{
      width: 76%;
    }
  }
}
@media  (max-width: 510px) {
  .main-festival{
    height: 2562px;
  }
  .howstudy-mediastyle {
    width: 383px; 
    height: 229px;
  }
}
@media  (max-width: 450px) {
  .main-festival{
    height: 2388px;
  }
  .main-festival__logo{
    width: 35%;
    &:first-child{
      width: 23%;
    }
  }
  // .main-festival__why-item{
  //   img{
  //     width: 92%;
  //   }
  // }
}
@media  (max-width: 400px) {
  .main-festival{
    height: 2300px;
  }
  .howstudy-mediastyle {
    width: 334px; 
    height: 200px;
  }
}
@media  (max-width: 350px) {
  .main-festival{
    height: 2205px;
  }
  .howstudy-mediastyle {
    width: 300px; 
    height: 180px;
  }
}
// @media  (max-width: 500px) {
//   .main-festival{
//     height: 2100px;
//   }
// }
// @media  (max-width: 800px) {
//   .main-festival{
//     height: 1800px;
//   }
// }
@media  (max-width: 470px) {
  .main-festival__button{
    width: 42vw;
  }
}


@keyframes pulse {
  to {
    transform: scale(0.69);
  }
}

@keyframes pulse {
  to {
    transform: scale(0.69);
  }
}

