.main-partners{
    width: 100%;
    height: 821px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.partners-slider__shadow {
	width: 250px;
	height: 265px;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}
.partners-slider__slide-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 96%;
    height: 85%;
    text-align: center;
}
.slide__img-block{
    height: 61px;
    display: flex;
    align-items: center;
    justify-content: center;
    .slide__img{
        width: 62%;
    }
}
.partners-slider .partners-slider__shadow:nth-child(1) {
    box-shadow: 6px -6px 9px 0px #ebeaea, -6px 6px 9px rgba(0, 0, 0, 0.4);
    margin-left: 0px;
}
.partners-slider .partners-slider__shadow:nth-child(2) {
    box-shadow: 0px -6px 9px 0px #ebeaea, 0px 6px 9px rgba(0, 0, 0, 0.4);
}
.partners-slider .partners-slider__shadow:nth-child(3) {
    box-shadow: -6px -6px 9px 0px #ebeaea, 6px 6px 9px rgba(0, 0, 0, 0.4);
    margin-right: 0px;
}
.partners-slider .partners-slider__shadow:nth-child(4) {
    box-shadow: 6px -6px 9px 0px #ebeaea, -6px 6px 9px rgba(0, 0, 0, 0.4);
    margin-left: 0px;
}
.partners-slider .partners-slider__shadow:nth-child(5) {
    box-shadow: -6px -6px 9px 0px #ebeaea, 6px 6px 9px rgba(0, 0, 0, 0.4);
    margin-right: 0px;
}
.partners-slider__btn{
    background-color: black;
}
@media (min-width: 950px) {
    .partners-slider__scroll{
        height: 567px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .anime-big{
        opacity: 0;
      }
      .anime-big.element-show {
        animation: fadeInUp 0.7s ease-in-out forwards;
        &:nth-child(2) {
          animation-delay: 0.2s;
        }
        &:nth-child(3) {
          animation-delay: 0.4s;
        }
      }
}
@media (max-width: 950px) {
    .anime-small{
        opacity: 0;
      }
      .anime-small.element-show {
        animation: fadeInUp 0.7s ease-in-out forwards;
        &:nth-child(2) {
          animation-delay: 0.2s;
        }
        &:nth-child(3) {
          animation-delay: 0.4s;
        }
      }
    .main-partners{
        height: 528px;
    }
    .partners-slider{
        display: flex;
        justify-content: space-around;
        align-items: start;
        padding: 0% 4% 3% 3%;  
        border-radius: 4.6875rem;
        box-shadow: 0px -6px 9px 0px #ebeaea, 0px 6px 9px rgba(0, 0, 0, 0.4);
        overflow-x: auto;
    }
    .partners-slider__scroll{
        width: 100%;
        display: flex;
        align-items: center;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        height: 279px;
        scroll-padding-left:6px;
        scroll-padding-right:6px;
        border-radius: 23%;
    }
    .partners-slider__shadow {
        width: 223px;
        height: 238px;
        margin: 0 10px;
        flex: none;
        scroll-snap-align: start;
    }
    .partners-slider .partners-slider__shadow:nth-child(1),
    .partners-slider .partners-slider__shadow:nth-child(2),
    .partners-slider .partners-slider__shadow:nth-child(3),
    .partners-slider .partners-slider__shadow:nth-child(4),
    .partners-slider .partners-slider__shadow:nth-child(5) {
        box-shadow: 0px -6px 9px 0px #ebeaea, 0px 0px 9px rgba(0, 0, 0, 0.4);
        margin: 0 10px;
    }
    .partners-slider__buttons{
        height: 83px;
    }
}
@media (max-width: 600px) {
    .partners-slider{ 
        border-radius: 3.6875rem;
    }
    .partners-slider__scroll{
        height: 234px;
        border-radius: 21%;
    }
    .partners-slider__shadow {
        height: 206px;
    }
}
@media (max-width: 450px) {
    .main-partners{
        height: 460px;
    }
}