.main-help{
    height: 500px;
    flex-direction: column;
    justify-content: space-evenly;
}
.main-help__container,
.main-help__buttoms{
    display: flex;
    justify-content: space-between;
}
.main-help__container{
    align-items: center;
}
.main-help__text-block{
    height: 300px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main-help__text-p{
    @include adaptiv-font(22, 16);
}
.main-help__img{
    width: 42%;
}
.main-help__button{
    width: 195px;
}
@media(max-width: 950px) {
    .main-help__button{
        width: 170px;
    }
}
@media(max-width: 850px) {
    .main-help{
        height: 335px;
    }
    .main-help__text-block{
        text-align: center;
        width: 100%;
        height: 200px;
    }
    .main-help__img{
        display: none;
    }
}
@media(max-width: 470px) {
    .main-help__button{
        width: 38vw;
    }
}