.main{
    height: 7224px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
// .main-slider{
//     width: 90%;
//     position: relative;
// }
// @media(max-width: 1020px) {
//     .main{
//         height: 5300px;
//     }
//     }
// @media(max-width: 950px) {
// .main{
//     height: 5382px;
// }
// }
@media(max-width: 950px) {
    .main{
        height: 7550px;
    }
}
@media(max-width: 900px) {
    .main{
        height: 7200px;
    }
}
@media(max-width: 850px) {
    .main{
        height: 7035px;
    }
}
@media(max-width: 800px) {
    .main{
        height: 6680px;
    }
}
@media(max-width: 750px) {
    .main{
        height: 6526px;
    }
}
@media(max-width: 700px) {
    .main{
        height: 6380px;
    }
}
@media(max-width: 600px) {
    .main{
        height: 6335px;
    }
}
@media(max-width: 580px) {
    .main{
        height: 6392px;
    }
}
@media(max-width: 520px) {
    .main{
        height: 6300px;
    }
}
@media(max-width: 500px) {
    .main{
        height: 6400px;
    }
}
@media(max-width: 450px) {
    .main{
        height: 6345px;
    }
}
@media(max-width: 400px) {
    .main{
        height: 6035px;
    }
}
@media(max-width: 350px) {
    .main{
        height: 6000px;
    }
}
// @media(max-width: 600px) {
//     .main{
//         height: 5080px;
//     }
// }
// @media(max-width: 570px) {
//     .main{
//         height: 5046px;
//     }
// }
// @media(max-width: 535px) {
//     .main{
//         height: 5000px;
//     }
// }
// @media(max-width: 500px) {
//     .main{
//         height: 4788px;
//     }
// }
// @media(max-width: 450px) {
//     .main{
//         height: 4623px;
//     }
// }
// @media(max-width: 400px) {
//     .main{
//         height: 4503px;
//     }
// }
// @media(max-width: 370px) {
//     .main{
//         height: 4480px;
//     }
// }
