.main{
    height: 7224px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
// .main-slider{
//     width: 90%;
//     position: relative;
// }
// @media(max-width: 1020px) {
//     .main{
//         height: 5300px;
//     }
//     }
// @media(max-width: 950px) {
// .main{
//     height: 5382px;
// }
// }
@media(max-width: 950px) {
    .main{
        height: 7493px;
    }
}
@media(max-width: 900px) {
    .main{
        height: 6973px;
    }
}
@media(max-width: 850px) {
    .main{
        height: 6686px;
    }
}
@media(max-width: 800px) {
    .main{
        height: 6645px;
    }
}
@media(max-width: 750px) {
    .main{
        height: 6492px;
    }
}
@media(max-width: 725px) {
    .main{
        height: 6580px;
    }
}
@media(max-width: 700px) {
    .main{
        height: 6522px;
    }
}
@media(max-width: 600px) {
    .main{
        height: 6436px;
    }
}
@media(max-width: 580px) {
    .main{
        height: 6558px;
    }
}
@media(max-width: 550px) {
    .main{
        height: 6550px;
    }
}
@media(max-width: 510px) {
    .main{
        height: 6420px;
    }
}
@media(max-width: 500px) {
    .main{
        height: 6431px;
    }
}
@media(max-width: 475px) {
    .main{
        height: 6373px;
    }
}
@media(max-width: 450px) {
    .main{
        height: 6305px;
    }
}
@media(max-width: 400px) {
    .main{
        height: 6238px;
    }
}
@media(max-width: 350px) {
    .main{
        height: 6135px;
    }
}
// @media(max-width: 600px) {
//     .main{
//         height: 5080px;
//     }
// }
// @media(max-width: 570px) {
//     .main{
//         height: 5046px;
//     }
// }
// @media(max-width: 535px) {
//     .main{
//         height: 5000px;
//     }
// }
// @media(max-width: 500px) {
//     .main{
//         height: 4788px;
//     }
// }
// @media(max-width: 450px) {
//     .main{
//         height: 4623px;
//     }
// }
// @media(max-width: 400px) {
//     .main{
//         height: 4503px;
//     }
// }
// @media(max-width: 370px) {
//     .main{
//         height: 4480px;
//     }
// }
